@font-face {
  font-family: "icon";
  src: url('icon.eot?t=1694070484126'); /* IE9*/
  src: url('icon.eot?t=1694070484126#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icon.woff2?t=1694070484126") format("woff2"),
  url("icon.woff?t=1694070484126") format("woff"),
  url('icon.ttf?t=1694070484126') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon.svg?t=1694070484126#icon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-add:before { content: "\ea01"; }
.icon-delete:before { content: "\ea02"; }
.icon-up:before { content: "\ea03"; }
.icon-xuanzhong:before { content: "\ea04"; }
.icon-zoom:before { content: "\ea05"; }

